html, body {
    height: 100%;
    background: slategrey;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.card-content {
    background: antiquewhite;
    padding: 25px;
    border-radius: 10px;
    text-align: center;
}

#value {
    margin-bottom: 35px;
    font-size: 50px;
}

.buttons button {
    border-radius: 10px;
    color: white;
    padding: 10px 30px;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.75s;
}

button#btnIncrease {
    background: green;
}

button#btnDecrease {
    background: crimson;
}

button#btnReset {
    background: dimgray;
}