#value {
    text-align: center;
    display: block;
    font-size: 60px;
    margin-bottom: 20px;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
}

#btnDecrease {
    margin-right: 10px;
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color: crimson;
    font-size:1.1em;
    border:0;
    cursor:pointer;
}

#btnIncrease {
    margin-left: 10px;
    font-size: 20px;
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color: lawngreen;
    font-size:1.1em;
    border:0;
    cursor:pointer;
}

#btnReset {
    font-size: 20px;
    padding:0.6em 2em;
    border-radius: 8px;
    color:#fff;
    background-color: lightslategray;
    font-size:1.1em;
    border:0;
    cursor:pointer;
}